
#container {
    margin: 50px;
}

#pic {
    position: absolute;
    top: 50px;
    right: 16px;
    height: 200px;
    width: 200px;
    display: block;
}

.tableOfContents {
    border: 1px solid gray;
    float: left;
    padding: .5em;
    margin-right: .5em;
    background-color: lightgray;
}

#editLog {
    float: right;
}

td:first-child {
    width: 255px;
    border: 1px solid gray;
    padding: 5px;
}

#nameStyle, #content {
    width: 85%;
}